@import '_partials/_preloader.scss';
@import '_partials/_mixins/_mixin_animate.scss';
@import '_partials/_variables.scss';
@import url('https://fonts.googleapis.com/css?family=Germania+One|Homemade+Apple|Montserrat:100,400,700');
@import '_partials/_normalize.scss';
@import '_partials/_structure.scss';
@import '_partials/_footer.scss';
@import '_partials/_basic_anims.scss';
@import '_partials/_sections/_section_intro.scss';
@import '_partials/_sections/_section_01.scss';
@import '_partials/_sections/_section_02.scss';
@import '_partials/_sections/_section_03.scss';
@import '_partials/_sections/_section_04.scss';
@import '_partials/_sections/_section_05.scss';
@import '_partials/_sections/_section_06.scss';
@import '_partials/_sections/_section_07.scss';
@import '_partials/_sections/_section_08.scss';
@import '_partials/_sections/_section_09.scss';
@import '_partials/_sections/_section_10.scss';
@import '_partials/_sections/_section_11.scss';
@import '_partials/_sections/_section_12.scss';
@import '_partials/_sections/_section_13.scss';
@import '_partials/_sections/_section_14.scss';
@import '_partials/_sections/_section_close.scss';

/*
font-family: 'Germania One', cursive;
font-family: 'Homemade Apple', cursive;
font-family: 'Montserrat', sans-serif;
*/
