#section-04{
  position:relative;
  background-color:$color-blue-dark;
  padding:0;
  color:$color-blue-light;
  box-shadow:0 0 100px rgba(0,0,0,.4);
  z-index:10;
  @media screen and (max-width:$min-mobile-width){
    .row{
      padding:0;margin:0;width:100%;
    }
  }
  .col-md-6{
    display:table-cell;
    float:none;
    @media screen and (max-width:$min-mobile-width){
      display:block;
      float:none;
    }
  }
  #section-4-text-1{
    border-right:1px solid white;
    border-bottom:1px solid white;
    @media screen and (max-width:$min-mobile-width){
      border-right:none;
      border-bottom:none;
    }
  }
  #section-4-bg-1{
    border-left:1px solid white;
    border-bottom:1px solid white;
    @media screen and (max-width:$min-mobile-width){
      border-right:left;
      border-bottom:none;
    }
  }
  #section-4-bg-2{
    border-right:1px solid white;
    border-top:1px solid white;
    @media screen and (max-width:$min-mobile-width){
      border-right:none;
      border-top:none;
    }
  }

  #section-4-text-2{
    border-left:1px solid white;
    border-top:1px solid white;
    padding:10vh 0;
    @media screen and (max-width:$min-mobile-width){
      border-left:none;
      border-top:none;
    }
  }
  .section-content{
    overflow:auto;
    p{
      text-align:center;
      padding:6vh 5vw;
    }
  }
  .text-box{
    margin:10vh 0;
    @media screen and (max-width:$min-mobile-width){
      margin:5vh 0 5vh 0;
    }
  }
  .bg{
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
  }
  .stripes{
  	position:absolute;
  	bottom:-16vh;
  	height:16vh;
  	width:100%;
  }

}
#section-4-bg-1{
  position:relative;
  overflow:hidden;
  .bg{
    height:180%;
    background-image:url(../img/kepler-mysterium.jpg);
    @media screen and (max-width:$min-phone-width){
      background-image:url(../img/kepler-mysterium-p.jpg);
    }
    background-position:top center;
    transform:translateY(-30%);
    transform: translateZ(-1);
  }
  @media screen and (max-width:$min-mobile-width){
    height:30vh;
    margin:0;width:100%;
  }
}
#section-4-bg-2{
  position:relative;
  overflow:hidden;
  .bg{
    top:0;left:0;
    height:100%;width:150%;
    background-image:url(../img/kepler-mysterium.jpg);
    @media screen and (max-width:$min-phone-width){
      background-image:url(../img/kepler-mysterium-p.jpg);
    }
    background-position:bottom center;
  }
  @media screen and (max-width:$min-mobile-width){
    display:none;
  }


}
